.container-products {
  width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  height: auto;
  min-height: 300px;
}
.filter__selector{
  width: 100%;
  height: auto;
}

.filter__container{
  width: 300px;
  height: 170px;
  margin: auto;
}

.filter__text{
  text-align: center;
}
.filter__select{
  margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  background-color: #a09d9d;
}

.filter__content{
  display: flex;
  gap: 10px
}

#filter__btn{
  width: 100px;
  height: 40px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}

#filter__btn:hover{
  transform: scale(1.05);
  background-color: #1f02d8;
}

option{
  font-size: 18px;
  border: none;
  background-color: #dcdada;
}

select{
  cursor: pointer;
  transition: all 0.4s;

}

select:hover{
  transform: scale(1.05);
}

.filter__checkbox{
    margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  background-color: #a09d9d;
}

.filter__checkbox__container{
    width: 400px;
  height: 170px;
  margin:auto;
  display: flex;
  justify-content: center;
}

.checkbox__filter__btn{
  width: 100px;
  height: 40px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}

.checkbox__filter__btn:hover{
    transform: scale(1.05);
  background-color: #1f02d8;
}

.filter__checkbox__form{
    display: flex;
    flex-direction: column;
  align-items: center;
  gap: 10px;
}

.filter__checkbox__content{
  width: 290px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}